<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar GIFs"
          name="buscar"
          id="buscar"
        />
      </div>
    </div>

    <hr />

    <div class="row p-2">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores
        labore nisi earum eveniet? Sapiente porro dignissimos ad! Vitae
        doloremque natus voluptatum fugiat a itaque assumenda perferendis sequi,
        accusantium molestiae?
      </div>
    </div>
  </div>
</div>
